#deepu{
    text-align: center;
    

}
#deepu0{
    text-align: center;
    font-size: 150px;
   font-style: initial;
    
}
body{
    background-color: chartreuse;
    background-image: url(https://wallpapercave.com/wp/wp8371582.jpg);
    background-size: cover;
#deepu1{
    border-style: double;
}
#deepu2{
    border-style: double;
}
#deepu3{
    border-style: double;

}
#deepu4{
    border-style: double;
}

}
#king{
    background-color: brown;
}
